# OpenCart Sensitive Files
# config.php
# admin/config.php

# Storage and Caches
system/storage/cache/*
system/storage/cache*
system/storage/download/*
system/storage/logs/*
system/storage/modification/*
system/storage/session/*
system/storage/upload/*
system/storage/vendor/*
image/cache/*
docs/joplin/*
public_html/img/
storage/ 

#Pastas antigas do OpenCart
system/
helper/ 
cache/

readme_backup/
.joplin_export/

# Composer
vendor/
composer.lock

# Root:
.agents/
.aiexclude
.gemini/

# Environment and IDEs
.env
.env.local
.vscode/
.idea/
*.swp
*.log
*.sql
.DS_Store
Thumbs.db


# Keep directories but ignore content
!system/storage/cache/index.html
!system/storage/download/index.html
!system/storage/logs/index.html
!image/cache/index.html

# Diversos
changelog/
tests/ # Arquivos de testes
# Ignora Imagens de produtos
/public_html/image/product/*
# Ignora Imagens em cache
/public_html/image/cache/*