# OpenCart Sensitive Files
# config.php
# admin/config.php

# Storage and Caches
system/storage/cache/*
system/storage/cache*
system/storage/download/*
system/storage/logs/*
system/storage/modification/*
system/storage/session/*
system/storage/upload/*
system/storage/vendor/*
image/cache/*

storage/
readme_backup/
logs/
cache/
download/

# Composer
vendor/
composer.lock

# Environment and IDEs
.env
.env.local
.vscode/
.idea/
*.swp
*.log
*.sql
.DS_Store
Thumbs.db

# Application Specific
tests/scripts_uteis/DicionarioNomesDeClasses.php
tests/scripts_uteis/DicionarioNomesDeCaminhos.php

# Keep directories but ignore content
!system/storage/cache/index.html
!system/storage/download/index.html
!system/storage/logs/index.html
!image/cache/index.html